.links_container{
    display: grid;
    grid-row-gap: 20px;
    box-shadow: 0 0 5px rgba(51, 51, 51, 0.3);
    padding: 10px;
}

.links_container:hover{
    opacity: .7;
}

.links_container a{
    text-decoration: none;
    font-size: 18px;
    padding: 10px;
    text-align: left;
}