.modal{
    position: absolute;
    top: 0;
    left: 0;
    background: rgba(51, 51, 51, .3);
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cancel__modal{
    position: relative;
    right: 10px;
    top: 20px;
    text-align: right;
    cursor: pointer;
}
